/node_modules
/public/hot
/public/storage
/storage/*.keyt
/storage
.storage
/vendor
.vendor
vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.gitignore
 /.gitignore
.idea/php.xml
.idea/uniq_new.iml
bootstrap/cache/packages.php
bootstrap/cache/services.php
composer.json
composer.lock
public/.htaccess

