body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: Manrope;
}

p {
    color: #2c3348;
    font-size: 14px;
}

a {
    color: #00baff;
    font-size: 14px;
}

a:hover {
    color: #00baff;
}

button.PayBttn.btn:hover {
    color: #fff;
}

.blacktxt {
    color: #2c3348 !important;
}

.contentA {
    margin-top: 35px;
}

div.form-group.flds span.currect-email {
    position: absolute;
    right: 10px;
    top: 8px;
}

.store-mobile img {
    float: left;
    width: 24px;
}
.checkoutpayment {
    transform: translate(0px, 15%);
}
.currect-value {
    display: none;
}

.store-mobile {
    width: 100%;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
}

input.form-control.select-grade {
    background: url(../images_new/book-icon.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 24px;
    background-position: 10px;
}

div.form-group.flds span.currect-email {
    position: absolute;
    right: 10px;
    top: 8px;
}

.country-code-name {
    height: auto;
    max-height: 210px;
    overflow: overlay;
    padding-top: 10px;
    position: absolute;
    background: #fff;
    width: 38.8%;
    z-index: 9;
    border-radius: 8px;
    top: 0px;
    right: 0%;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.16);
}

.country-code-name ul {
    padding-left: 0px;
    text-align: left;
}

.country-code-name ul li {
    list-style: none;
    color: #2c3348;
    font-size: 14px;
    padding: 3px 20px 5px;
}

.country-code-name::-webkit-scrollbar-thumb {
    background: rgba(13, 193, 255, 0.4) !important;
}

.country-code-name::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.country-code-name::-webkit-scrollbar {
    width: 5px;
}

.country-code-name ul li:hover {
    background: #f2f2f2;
    width: 95%;
}

/* shubham-css */
.country-code-name::-webkit-scrollbar {
    width: 5px;
}


.country-code-name::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}


.country-code-name::-webkit-scrollbar-thumb {
    background: rgba(13, 193, 255, 0.4) !important;
}

/* .country-code-name::-webkit-scrollbar-thumb:hover {
    background: #555 !important;
} */
/* shubham-css-end */

input.form-control.select-exam {
    background: url(../images_new/city-log.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 20px;
    background-position: 10px;
}

.store-mobile img {
    float: left;
    width: 24px;
}

.currect-value {
    display: none;
}

.store-mobile {
    width: 100%;
    display: inline-block;
    padding-left: 10px;
    text-align: left;
}

input.form-control.select-grade {
    background: url(../images_new/state-log.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 20px;
    background-position: 10px;
}

/* placeholder city state registration */
#select-city::-webkit-input-placeholder {
    color: #00baff !important;
}

#select-state::-webkit-input-placeholder {
    color: #00baff !important;
}

.form-control.select-exam,
.form-control.select-grade {
    color: #00baff !important;
}

/* placeholder city state registration */

/** the following css for placeholder **/


.contentA input:-ms-input-placeholder {
    color: #2c3348 !important;
    font-size: 14px;
}

.contentA input::placeholder {
    color: #2c3348 !important;
    font-size: 14px;
}

.contentA input::-webkit-input-placeholder {
    color: #2c3348 !important;
    font-size: 14px;
}


input::-webkit-input-placeholder {
    color: red;
}

input:-moz-placeholder {
    color: red;
}

/** placeholder css end here **/


/** 21-12-2021**/
.subScrip .row {
    width: 100%;
    margin: 0 auto;
}

/*
.subScrip .row {
    display: inline-block;
}
*/

.subScrip .row .col-md-4 {
    display: inline-flex;
    max-width: 32.333%;
}

.subScrip .row button#goto-otp-btn:hover {
    background-color: 00baff !important;
    background-image: none;
}

.subScrip .row button#goto-otp-btn {
    height: 60px;
    color: #FFF;
    padding-right: 2rem!important;
    padding-left: 2rem!important;

}

/** end here**/


.login_screen .error {
    color: #f74645;
}

/** 15-12-2021**/
.login-bg-img .login_screen p.mb-0 {
    color: #00baff;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
}

.login-bg-img .login_screen .sign-btn button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

/** end here 15-12-2021**/

/** first screen login/email css **/
.login-bg-img {
    background: url(../images_new/bg-signup.webp)no-repeat 0 0 fixed;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    position: fixed;
}

.outer-logo {
    position: absolute;
    left: 7%;
    width: 100px;
}

.outer-logo img {
    width: 100% !important;
    height: auto;
}

.login_screen {
    max-width: 672px;
    min-height: 400px;
    background: #fff;
    border-radius: 56px;
    padding: 40px 47px 60px 47px;
    text-align: center;
    margin: 120px auto 0;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.16);
}

div.form-group.flds {
    position: relative;
}

input.form-control.m-email {
    background: url(../images_new/profile-icon.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 24px;
    background-position: 10px;
}

.sign-btn button {
    width: 276px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0px 10px;
    border: none;
    outline: none;
    border-radius: 20px;
}

button.disbaled-btn:disabled {
    opacity: 0.3;
    background: #21ccff;
    box-shadow: inset 0 3px 10px 0 rgba(255,255,255,0.8);
}

button.disbaled-btn {
    opacity: 0.3;
    background: #21ccff;
    box-shadow: inset 0 3px 10px 0 rgba(255,255,255,0.8);
}

.active-btn {
    box-shadow: inset 0 3px 10px 0 rgba(255,255,255,0.8);
    background-image: linear-gradient(to bottom, #21ccff, #00baff);
}

div.form-group.flds {
    position: relative;
    text-align: left;
}

div.form-group.flds span.error-sms {
    color: #f74645;
}

/** the following css for placeholder **/
input.form-control:-ms-input-placeholder {
    color: #2c3348;
    font-size: 14px;
}

input.form-control::placeholder {
    color: #2c3348;
    font-size: 14px;
}

input.form-control::-ms-input-placeholder {
    color: #2c3348;
    font-size: 14px;
}

/** placeholder css end here **/
input.form-control {
    background: #f2f2f2;
    border-radius: 8px;
    outline: none;
    border: none;
    height: 48px;
    color: #2c3348;
    font-size: 14px;
}

.not-valid {
    display: none;
}

input.form-control:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

button.disbaled-btn:hover {
    background: #21ccff;
}

.mobil-not-valid {
    display: none;
}

.email-not-valid {
    display: none;
}

/** end here **/

/** css for OTP screen **/

input.form-control.pass {
    background: url(../images_new/pass-icon.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 24px;
    background-position: 10px;
}

.enter-otp {
    display: none;
}

.wrong-otp {
    display: none;
}

/** End here **/

/** **/

input.form-control.email-addrs {
    background: url(../images_new/email.png) no-repeat #f2f2f2;
    padding-left: 40px;
    background-size: 24px;
    background-position: 10px;
}

/** end here **/


/** less height css **/
@media (min-width: 1200px) and (max-width: 1300px) {
    .contentA {
        margin-top: 0px !important;
    }
}

/** less height css end here**/





/** responsive css **/
@media only screen and (max-width:767px) {

    /** Rahul css on 27-12-2021 css**/
    .welcome-heading {
        font-size: 16px !important;
        font: inherit !important;
    }
	#address-box p.mb-0.blacktxt {
    font-weight: normal !important;
    font-size: 14px !important;
}
#address-box #statebx .country-code-name {
    height: 185px !important;
    max-height: 255px !important;
    width: 65% !important;
}

    #main .col {
        padding: 0px;
    }

    .subScrip .row .col-md-4 {
        display: inline-block;
        max-width: 100%;
    }

    h1.main-heading.position-relative {
        font-size: 20px !important;
    }

    .subs-box {
        border: 1px solid #BCE0FD;
        background: #fff;
        width: 100%;
    }

    /** end here **/

    .subScrip {
        height: auto !important;
    }

    .login-bg-img {
        padding: 0px 5px;
    }

    .outer-logo {
        position: relative;
        top: 15px;
        text-align: center;
        display: block;
        left: 0px;
		margin-bottom: 20px !important;
		padding: 30px 10px;
    }

    .login_screen {
        margin-top: 35px !important;
		width: 95%;
        /*min-height: auto;*/
        padding: 20px 20px !important;
    }
}

@media only screen and (max-width:500px) {

    .login_screen {
        padding: 10px;
    }

    div.form-group.flds span.error-sms {
        font-size: 14px;
    }

    div.form-group.flds {
        margin-top: 0px;
    }

    .sign-btn button {
        margin-top: 5px;

    }

    div.form-group.flds {
        height: auto;
    }
}

@media only screen and (max-width:414px) {
    .login_screen {
        margin-top: 30px;
    }

    .login_screen {
        border-radius: 36px;
    }

}

@media only screen and (max-width:340px) {

    .sign-btn button {
        width: 230px;
    }
}


/* added by dinesh */
#otp-box {
    display: none;
}

#email-box {
    display: none;
}

.open-box {
    display: block !important;
}

.close-box {
    display: none !important;
}

#otp-verify-box {
    display: none;
}

#set-password-box {
    display: none;
}

#address-box {
    display: none;
}

/* dinesh end */

/*select subject 04/12/2021 */
.subject_screen {
    max-width: 65%;
    min-height: 400px;
    background: #fff;
    border-radius: 56px;
    padding: 60px 47px 60px 47px;
    text-align: center;
    margin: 120px auto 0;
    box-shadow: 0 0 30px 0 rgba(0,0,0,0.16);
}

.click-box:hover,
.click-box.active {
    background: #f2f2f2;
}

.click-box {
    cursor: pointer;
    transition: all 0.4s;
}

.welcome-heading {
    font: normal normal normal 28px/42px Manrope;
    letter-spacing: 0px;
    color: #2c3348;
    text-align: center;margin-bottom:10px;
}

.welcome-msg {
    font: normal normal normal 16px/24px Manrope;
    letter-spacing: 0px;
    color: #2c3348;
    text-align: Center;
}

/*new css 07/12 Bhim*/
#chooseSub #goto-next-btn {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 10px 0 rgba(255,255,255,0.80);
    background-image: linear-gradient(to bottom, #21ccff, #00baff);
    border: none;
    padding: 18px 30px;
    background-color: #00baff !important;
    font-size: 16px;
    font-weight: bold;
    width: 276px;
    height: 60px;
    line-height: 18px;
}

#chooseSub #goto-next-btn:hover {
    background: #0cc1ff !important;
    background-color: #0cc1ff !important;
    border: solid #0cc1ff 0px !important;
}

div#startjust,
div#eleventh,
div#twelfth {
    border-radius: 20px;
}

h1.main-heading.position-relative {
    color: #00baff;
    text-align: center;
    font-weight: 800;
    font-family: Manrope;
    text-transform: uppercase;
    font-size: 45px;
}

.subscriptionBox {
    border-radius: 56px;
    box-shadow: 0 3px 30px 0 rgba(0,0,0,0.16);
    background-color: #fff;
    padding: 25px;
}

.subScrip {
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    background-image: linear-gradient(45deg, #d2f3ff, #fff);
   min-height: 100vh !important;
}

.subScrip h1.main-heading.position-relative a {
    font-size: 55px;
    line-height: 65px;
}

.subScrip h1.main-heading.position-relative a img {
    width: 50px;
}

.slimScrollBar {
    background: rgb(13 193 255) !important;
}

.subscriptionBox h5.cource-name {
    font-size: 20px;
    font-weight: bold;
}

button#goto-otp-btn {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 10px 0 rgba(255,255,255,0.8);
    background-image: linear-gradient(to bottom, #21ccff, #00baff);
    border: none;
    background-color: #00baff !important;
    /* padding: 18px 10px; */
}

button#goto-otp-btn:hover {
    background-color: #00baff !important;
}

.Try14 {
    color: #00baff !important;
}

.subScrip .Try14:hover {
    color: #00baff !important;
    text-decoration: underline;
}


/* end new css */
@media(min-width:1024px) and (max-width:1280px) {
	.Fullsub-amt-subN.subs-box.totalpaymentbox {
    width: 85% !important;
	}
	.TotalAmount.bg-danger {
		width: 85% !important;
	}
}
@media only screen and (max-width: 1024px) {
.login_screen {
    margin: 200px auto 0;
}    
}
@media(min-width:768px) and (max-width:1023px) {
.login_screen {
    transform: translate(0px, 25%) !important;
}
.subject_screen {
    transform: translate(0px, 15%) !important;
}
.Fullsub-amt-subN.subs-box.totalpaymentbox {
    width: 85% !important;
}
.TotalAmount.bg-danger {
    width: 85% !important;
}


}

/* responsive */



@media(min-width:768px) and (max-width:1023px) {
	.login_screen {
    transform: translate(0%, 50%);
}

	
}

@media(min-width:991px) and (max-width:1280px) {
    .subject_screen {
        max-width: 85% !important;
        padding: 40px 47px 40px 47px !important;
        margin-top:180px;
    }
}

@media(min-width:991px) and (max-width:1120px) {
    .subScrip .row .col-md-4 {
        display: inline-flex;
        max-width: 100% !important;
		width:49%;
        justify-content: center;
    }

    .subScrip {
        height: auto !important;
    }

}

@media(min-width:768px) and (max-width:991px) {
    .subScrip {
        height: auto !important;
    }

    .subject_screen {
        max-width: 85% !important;
        padding: 60px 47px 60px 47px !important;
    }

    .subject_screen img.img-responsive.stand-image {
        width: 60%;
        margin-bottom: 12px;
        height: 68px;
    }

    .subScrip h1.main-heading.position-relative {
        font-size: 38px !important;
        font-weight: 600 !important;
    }

    .subScrip .row .col-md-4 {
        display: inline-flex;
        max-width: 75%;
        justify-content: center;
    }

}

@media(max-width:767px) {
    .subject_screen {
        max-width: 95% !important;
        padding: 25px !important;
        margin: 20px auto 0 !important;
    }

    .subject_screen img.img-responsive.stand-image {
        width: 75px !important;
        margin-bottom: 0px !important;
        height: 50px;
    }

	.outer-logo img {
		width: 70% !important;
		height: auto;
	}
}

.loader-block {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.loader-block img {
    width: 200px;
}


/* end responsive choose subject */
@media(max-width:1280px) and (max-height:700px) {
.outer-logo img{width:70% !important;height:auto;}
.login_screen{margin: 120px auto 0;}
.subject_screen{padding: 29px 47px!important;margin-bottom: 50px;}
.login-bg-img{overflow-y: auto;}
.login-bg-img::-webkit-scrollbar {
    width: 5px;
}
.login-bg-img::-webkit-scrollbar-track {
    background: #f1f1f1 !important;
}
.login-bg-img::-webkit-scrollbar-thumb {
    background: rgba(13, 193, 255, 0.4) !important;
}
}





.subscriptionBox p.box-content {
    overflow: overlay;
    height: 150px;
    padding-right: 10px;
}
.outer-logo {top:20px}