@media only screen and (max-width: 1440px) {
  .left-sidepannel .carousel-inner .carousel-item img{
   height: 350px;
}
.signuprightpannel {
    height: 700px;
}
}
@media only screen and (max-width: 1400px) {
  .signuprightpannel {
    height: 550px;
}  
}
@media(max-width:767px){
    .btn.btn-common-transparent{min-width:200px;}
    .exam_instruction_scrolling
    {
        padding-right:unset;
        height:unset;
    }
    .exam_instruction_col_four {
        padding-left: 18px;
        padding-top:30px;
    }
}