@media only screen and (max-width: 1500px){
    .fullbodyBox .leftBox{padding-right:10px;}
    .myqbottomSec h3 .topictext{margin-left: 5px;}
    .myqmatPannel{padding:10px}
    .commonWhiteBox{padding:30px 25px;}
}
@media only screen and (max-width: 1440px) {
  .left-sidepannel .carousel-inner .carousel-item img{
   height: 350px;
}

.myqbottomSec h3{font-size:26px;}
}
@media only screen and (max-width: 1366px) {
    .commonWhiteBox{padding:30px 20px}
    .boxheading {
        font-size: 20px;}
        .boxheading .tooltipmain{margin-left:3px;}
  
.inst {
    padding: 20px 0px;
}
.planPayment .testType h2 {
    padding-top: 32px;
}
.applyCo {
    padding-top: 90px;
}

.subjextscoreLeft h4 {font-size: 20px;}
.circle_percent,.round_per{    width: 0.8em;
    height: 0.8em;}
}
@media only screen and (max-height: 600px) and (max-width: 1280px){
   .left-sidepannel .carousel-inner .carousel-item img {
    height: 230px;
}

.signuprightpannel {
    padding: 50px 140px 0;
}
.loginrightpannel {
    padding-top: 160px;
    /* height: 420px; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.copyright {
    bottom: 0px;
    position: relative !important;
    padding-top: 20px;
}
}
@media(max-width:767px){
    .btn.btn-common-transparent{min-width:200px;}
    .exam_instruction_scrolling
    {
        padding-right:unset;
        height:unset;
    }
    .exam_instruction_col_four {
        padding-left: 18px;
        padding-top:30px;
    }
}