@media only screen and (max-width: 1680px){
    /* .testPlanCard {
        max-width: 330px !important;
    } */
}



@media only screen and (max-width: 1500px){
    .fullbodyBox .leftBox{padding-right:10px;}
    .myqbottomSec h3 .topictext{margin-left: 5px;}
    .myqmatPannel{padding:10px}
    .commonWhiteBox{padding:30px 25px;}
    /* .testPlanCard {
        max-width: 290px !important;
    } */
}
@media only screen and (max-width: 1440px) {
  .left-sidepannel .carousel-inner .carousel-item img{
   height: 350px;
}

.myqbottomSec h3{font-size:26px;}
.selectedWeek {padding-right: 50px !important;}
.plantitleBox {padding-right: 140px !important;}

.graphDetailempty .testScrolltype { margin-right: 9px !important;;}
/* .testPlanCard {
    max-width: 280px !important;

} */
.allSubslider svg{
    width: 30px !important;
    height: 30px !important;
}
   .week-select{
    font-size: 16px;    
    }
}
@media only screen and (max-width: 1366px) { 
    .commonWhiteBox{padding:30px 20px}
    .boxheading {font-size: 20px;}
        .boxheading .tooltipmain{margin-left:5px;}
.subCard h3 {
    font-size: 15px;
    font-weight: 800;
}
  
.inst {
    padding: 20px 0px;
}
.planPayment .testType h2 {
    padding-top: 32px;
}
.applyCo {
    padding-top: 90px;
}

.subjextscoreLeft h4 {font-size: 20px;}
.circle_percent,.round_per{    width: 0.8em;
    height: 0.8em;}
    /* .testPlanCard {
        max-width: 240px !important;
    } */
    .graphDetailempty .weekText{
        padding-left: 0px;
    }
    .graph_head_label h4  {
        font-size: 17px;}
        .boxheading.subheading {
            font-size: 17px;
        }
        .SelectPlane_text {
            padding: 30px 0px 20px 0px;
        }
        .planType {
            padding-top: 35px;
        }
        .planeName{padding-bottom:20px;}
    
}
@media only screen and (max-width: 1300px){

    .fullbodyBox .rightImgBox svg{width: 75px;}
}
@media only screen and (max-height: 800px) {
    .left-sidepannel .carousel-inner .carousel-item img {
     height: 400px;
 }
}
@media only screen and (max-height: 920px) {
    .text-exambottom-sec {
        margin-top: 20px;
        height: 35vh;} 
    
}
@media only screen and (max-height: 780px) {
    .text-exambottom-sec {
        height: 29vh;margin-top: 10px;
    }
    .exam-ans-sec.top-first{    padding: 15px 0px 15px 0px;} 
    .overviewtest { height: 25vh; min-height: 173px; }
}
@media only screen and (max-height: 700px) {
    .left-sidepannel .carousel-inner .carousel-item img {
     height: 350px;
 }

}
@media only screen and (max-height: 600px) and (max-width: 1280px){
   .left-sidepannel .carousel-inner .carousel-item img {
    height: 230px;
}

.signuprightpannel {
    padding: 50px 140px 0;
}
.loginrightpannel {
    padding-top: 160px;
    /* height: 420px; */
    overflow-y: scroll;
    overflow-x: hidden;
}
.copyright {
    bottom: 0px;
    position: relative !important;
    padding-top: 20px;
}
/* .testPlanCard {
    max-width: 245px !important;
} */
.subCard h3 {
    font-size: 16px !important;
}
.graphDetailempty .testScrolltype {
    margin-right: 9px !important;
}
.plantitleBox {
    padding-right: 100px !important;
}   
}

@media only screen and (max-width: 1024px){
    .plantitleBox {
        padding-right: 50px !important;
    }
    .plannedtest {
        padding-right: 10px !important;
    }
    .selectedWeek {
        padding-right: 24px !important;
        font-size: 12px !important;
    }
    .AttempType {
        font-size: 12px !important;
    }
    .testCount {
        font-size: 15px  !important;
    }
    .gotoPlanner a {
        font-size: 12px !important;
    }
    .h {
        display: block !important;
    }
    .graphDetailempty .testScrolltype {
        padding-top: 14px  !important;
    }
    .graphDetailempty .testScrolltype:first-child {
        padding-top: 0px !important;
    }  
    .scoretype {
        padding-left: 5px !important;
    }
    .weekText {
        font-size: 12px !important;
    }
    .weekCount {
        font-size: 18px !important;
    }
    /* .testPlanCard {
        max-width: 180px !important;
    } */
    .allSubslider svg {
        width: 20px !important;
        height: 20px !important;
    }
    .subCard h3 {
        font-size: 12px !important;
    }
    
}
@media(max-width:767px){
    .btn.btn-common-transparent{min-width:200px;}
    .exam_instruction_scrolling
    {
        padding-right:unset;
        height:unset;
    }
    .exam_instruction_col_four {
        padding-left: 18px;
        padding-top:30px;
    }
}