@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*, html{
    padding:0; margin:0;
    box-sizing:border-box;
    
  }
  html{height:100%;width:100%;}
body {
    height: 100%;width:100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif !important;
    /* font-family: 'Inter', sans-serif; */
    overflow-x: hidden;
}
a,
input,
button {
    outline: none;
    text-decoration: none;
}
input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], select {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    box-shadow: none!important;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6,figure,ul,li{
margin: 0;
padding: 0;
}
/*********** Navdeep *************/
.login-signup{
    background: #f5faf6;
}
.left-sidepannel{
background: #e0f6e3;
padding: 40px 40px 80px 40px;
max-width: 637px;
width: 100%;
}
.left-sidepannel .carousel-inner .carousel-item img{
   height: 300px;
}
.left-sidepannel .carousel-indicators {
    bottom: 0;
}
.left-sidepannel .carousel-indicators button {
    width: 8px;
    height: 4px;
    border: 0;
    background-color: #56b663;
    opacity: 0.5;
    margin: 2px;
    border-radius: 2px;
}

.left-sidepannel .carousel-indicators button.active {
    background-color: #56b663;
    opacity: 1;
}
.left-sidepannel .carousel-caption h5{
color: #56b663;
font-size: 18px;
font-weight: bold;
}
.left-sidepannel .carousel-caption {
   bottom: 0;
    padding: 0;
    z-index: 10000;
    position: relative;
    right: 0;
    left: 0;
}
.left-sidepannel .carousel-caption p {
 color: #56b663;
font-size: 14px;
font-weight: normal;
}
.right-seidepannel{
padding: 80px 90px 20px 90px;
width: 100%;
max-width: 800px;
}
.right-seidepannel h1{
   font-size: 36px;
   font-weight: bold;
   color: #1f1f1f;
}
.right-seidepannel p{
   font-size: 16px;
   font-weight: bold;
   color: #363c4f;
   padding-bottom: 30px;
}
.right-seidepannel p a{
 color:#56b663;  
}
.custom-input label{
color: #363c4f;
font-size: 14px;
font-weight: 600;    
}
.custom-input .form-control{
color: #363c4f;
border: 1px solid #d0d5dd !important;
background: #fff;
padding: 10px 14px;
border-radius: 8px;
box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
font-size: 14px;
font-weight: 500;    
height: 44px;
}
.custom-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input:-moz-placeholder { /* Firefox 18- */
  color: rgba(54, 60, 79, 0.5);
}
.getotp{
padding: 0 14px;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
  background-color: #56b663;
height: 44px;
font-size: 14px;
font-weight: 800;
}
.copyright{
font-size: 14px;
color: #363c4f;
font-weight: normal;
}
/********* Sachin **************/




/********* Amit ***************/



/********* Shubham ***********/