@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
*, html{
    padding:0; margin:0;
    box-sizing:border-box;
    
  }
  html{height:100%;width:100%;}
body {
    height: 100%;width:100%;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif !important;
    /* font-family: 'Inter', sans-serif; */
    overflow-x: hidden;
}
a,
input,
button {
    outline: none;
    text-decoration: none;
}
input[type="text"], input[type="email"], input[type="search"], 
input[type="date"], input[type="time"], input[type="file"], 
textarea, button, input[type="password"], input[type="tel"], select {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    box-shadow: none!important;
}
a, input, button, a:focus, input:focus, button:focus {outline:none!important;}
:focus {outline: -webkit-focus-ring-color auto 0px!important;}
li{list-style-type:none;}
h1,h2,h3,h4,h5,h6,figure,ul,li{
margin: 0;
padding: 0;
}

/*********** Navdeep Start *************/
/*********** Login *************/
.login-signup{
    background: #f5faf6;
}
.left-sidepannel{
background: #e0f6e3;
padding: 40px 40px 80px 40px;
max-width: 650px;
width: 100%;
}
.left-sidepannel .carousel-inner .carousel-item img{
   height: 550px;
}
.left-sidepannel .carousel-indicators {
    bottom: 0;
}
.left-sidepannel .carousel-indicators button {
    width: 8px;
    height: 4px;
    border: 0;
    background-color: #56b663;
    opacity: 0.5;
    margin: 2px;
    border-radius: 2px;
}
.left-sidepannel .carousel-indicators button.active {
    background-color: #56b663;
    opacity: 1;
}
.left-sidepannel .carousel-caption h5{
color: #56b663;
font-size: 18px;
font-weight: bold;
}
.left-sidepannel .carousel-caption {
   bottom: 0;
    padding: 0;
    z-index: 10000;
    position: relative;
    right: 0;
    left: 0;
}
.left-sidepannel .carousel-caption p {
 color: #56b663;
font-size: 14px;
font-weight: normal;
}
.right-seidepannel{
padding: 0 160px 0 160px;
width: 100%;
}
.loginform{
width: 360px    
}
.right-seidepannel h1{
   font-size: 36px;
   font-weight: bold;
   color: #1f1f1f;
}
.right-seidepannel p{
   font-size: 16px;
   font-weight: 500;
   color: #363c4f;
   padding-bottom: 30px;
}
.right-seidepannel p a{
 color:#56b663; 
text-decoration: none;
}
.custom-input label{
color: #363c4f;
font-size: 14px;
font-weight: 600;    
}
.custom-input .form-control{
color: #363c4f;
border: 1px solid #d0d5dd !important;
background: #fff;
padding: 10px 14px;
border-radius: 8px;
box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05); 
-webkit-box-shadow:  0 1px 2px 0 rgba(16, 24, 40, 0.05); 
-moz-box-shadow:  0 1px 2px 0 rgba(16, 24, 40, 0.05); 
font-size: 14px;
font-weight: 500;    
height: 44px;
}
.custom-input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(54, 60, 79, 0.5);
}
.custom-input input:-moz-placeholder { /* Firefox 18- */
  color: rgba(54, 60, 79, 0.5);
}
.copyright{
font-size: 14px;
color: #363c4f;
font-weight: normal;
bottom: 30px;
left: 0;
right: 0;
}
.changeno .form-control{
    background: #fafafa;
}
.changeno a{
    position: absolute;
    right: 1px;
    height: 42px;
    line-height: 41px;
    top: 1px;
    border-radius: 0 8px 8px 0;
    font-size: 14px;
    color: #56b663;
    font-weight: 500;
    padding: 0px 10px;
    text-decoration: none;   
}
.enterotp{
 color: #363c4f;
border: 1px solid #d0d5dd;
border-radius: 8px;
box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05); 
-webkit-box-shadow:  0 1px 2px 0 rgba(16, 24, 40, 0.05); 
-moz-box-shadow:  0 1px 2px 0 rgba(16, 24, 40, 0.05); 
}
.enterotp .form-control{
    border-left: 0 !important;
    border-top: 0 !important;
    border-bottom: 0 !important;
    border-radius: 0;
    background: transparent;
    text-align: center;  
}
.resend{
font-size: 14px !important;    
}
/*******login-page-end*****/
/******sign-up-strat*******/
.allscrollbar::-webkit-scrollbar {
  width: 6px;
}

.allscrollbar::-webkit-scrollbar-track {
  border-radius: 2px;
}
 
.allscrollbar::-webkit-scrollbar-thumb {
  background: #cccccc; 
  border-radius: 2px;
}
select.form-control:not([size]):not([multiple]) {
    height: 44px;
    background: url(../images/drodown-arrow.svg) no-repeat white;
    background-position: 95%;
    cursor: pointer
}
.signuprightpannel{
    padding: 140px;
}
.copyright a{
color: #56b663;
text-decoration: none;
}
/*********** Navdeep End *************/

/***************** Sachin Start ****************************/
/*************** Subscrption Payment Plan **********/
.progress-box{
    min-height: 334px;
    display: flex;
    align-items: center;
}
.progressorder {
    position: relative;
    padding: 0rem 0rem 0rem 0rem;
    margin: 0px;
    list-style: none;
    position: absolute;
    top: 25%;
    padding-top: 0px;
   
}
.progress__item {
    position: relative;
    min-height: 75px;
    padding-left: 2.5rem;
}
.progress__item.progress__item--completed {
    opacity: 0.6;
    color: #000;
}
.progress__item:before {
    content: "";
    position: absolute;
    left: 11px;
    top: 32px;
    height: calc(100% - 40px);
    width: 1px;
    border-left: 2px solid #ddd;
}
.progress__item--active .progress__title  , .progress__item--active .progress__info{
    color:#56b663;
}
.progress__item.progress__item--completed:before  {
   border-left: 2px solid #56b663;
}
.progress__item.progress__item--active:last-child:before {border-left: 0px;}
.progress__title {
    padding: 0rem 0 0.5rem;
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}
.progress__info {
    font-size: 12px;
    margin: 0px;
    padding-bottom: 10px;
}
.progress__item.progress__item--completed:after {
    content: "\2713";
    font-weight: 400;
    background: #67d848;
    color: #fff;
}
.progress__item:after {
    content:  "";
    position: absolute;
    top: 0;
    left: -2.5rem;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    border: 1px solid #fff;
}
.progress__item.progress__item--active:after {
    font-size: 100px;
    color: #56b663 !important;
    content: ' \00B7';
    border-color: 2px solid #56b663 !important;
}
.progress__item:last-child:before {
    border: none;
} 
.progress__item:after {
    position: absolute;
    top: 0;
    left: 0px;
    width: 24px;
    height: 24px;
    border-radius: 71%;
    color: #fff;
    font-weight: 400;
    line-height: 9px;
    text-align: center;
    border: 1px solid rgba(54, 60, 79, 0.5);
    box-shadow: 0 0 0 4px #d2f0d6;
    left: 0;
   
}
.verificationBox {
max-width: 339px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px 40px;
border-radius: 20px;
box-shadow: 0 8px 30px 0 rgba(172, 185, 176, 0.14), 0 8px 30px 0 rgba(172, 185, 176, 0.14);
background-color:#ffffff;
position: absolute;
bottom: 30px;
}
.verificationBox a{
    width: 114px;
    height: 38px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 8px;
    border: solid 1px #dc6803;
    background-color: #fff;
    color:#dc6803;
}
.verificationBox p{
    text-align: center;
    font-size: 14px; 
}
.subscriptionsPage{
height:100%;

}
.subscriptionsLeftpannel{
    background-color: #e0f6e3;
    padding:40px; 
    width:100%;
    max-width: 419px;
}
.subscriptionsRightpannel{
    width: 100%;
 
}
.selectPlan  {
    background-color: #f5faf6;
     height:100%;
     padding: 0px 40px;
    
}
.SelectPlane_text{
    padding: 60px 0px 40px 0px;
}
.SelectPlane_text h3{
    color:#1f1f1f;
    font-size:24px;
    font-weight: bold;
}
.SelectPlane_text p{
    color: #363c4f;
    font-size: 14px;
    line-height: 18.2px;
    font-weight: 500;
    margin-top: 10px;
}
.logo{
    width:50px;
}
.selectPlanedetail {
    padding: 40px;;
    border-radius: 20px;
    box-shadow: 0 8px 30px 0 rgba(172, 185, 176, 0.14);
    background: #ffffff;

}
.planeName{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(86, 182, 99, 0.2);
    padding-bottom: 40px;

}
.offer{
    padding: 2px 8px;
    border-radius: 8px;
    background-color: rgba(86, 182, 99, 0.1);
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #363c4f;
}
.offer span{
    color: #56b663;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
}
.planeName P {
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
}
.peryearPrice{
    font-size: 30px;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
}
.peryearPrice  sub{
    font-size: 14px;
    color:#363c4f;
    line-height: 1.3;
}

.testType{
    padding-top: 40px;
    border-bottom: 1px solid rgba(86, 182, 99, 0.2);
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
}
.testType ul{
    padding: 0px;
    margin: 0px;
}
.testType ul li{
    font-size: 14px;
    line-height: 2.5;
    text-align: left;
    color: #363c4f;
}
.testType ul li svg  {
    margin-right: 8px;
}
.planType {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}
.freeTrial a {
color: #56b663;
font-size: 14px;
font-weight: 800;
line-height: 1.43;
border-bottom: 1px solid #56b663;
}
/* .getSubs a{
    width: 295px;
    height: 44px;
    background: #56b663;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;
}
.getSubs a:hover{
    color:#ffffff;
} */
.btn.btn-common-green {
    background: #56b663;
    box-shadow: 0 1px 2px 0 rgb(16 24 40 / 5%);
    border-radius: 8px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    min-width: 280px;
    padding: 10px 16px;
    border: solid 1px #56b663;
}
.freeTrial a:hover{
    color: #56b663;
}
/***************** Sachin End ****************************/


/********************* Amit Start ******************************/
/********* Select Plan Payment ***************/
.fullbody_scan_card{border-top-left-radius: 30px;border-bottom-left-radius:30px;padding: 20px 40px;box-shadow: 0 8px 30px 0 rgba(172, 185, 176, 0.14);border: solid 3px #fff;background-color: #fff;color: #363c4f;}
.fullbody_scan_card p{font-weight:500;font-size:16px;    color: #363c4f;}
.fullbody_scan_card ul li{font-size:14px;display: flex;justify-content: space-between;}
.fullbody_scan_card ul li span{font-weight:600;}
.custom-border{ display: block;background-color: rgba(86, 182, 99, 0.2);}
.fullbody_scan_test {padding:15px 0 40px 0px;background-color: #56b663;border-top-right-radius: 30px;border-bottom-right-radius: 30px;background-image: url(public/after_login/current_ui/images/fullscan-card-bg.png);
background-repeat: no-repeat;background-size: cover;}
.fullbody_scan_test span:first-child {position: absolute;right: 0px;top:10px;}
.fullbody_scan_test span:nth-child(2) {position: absolute;left: 0px;top: 50%;transform: translateY(-50%);}
.fullbody_scan_test h3 {font-size: 24px;font-weight: 800;color: #fff;}
.fullbody_scan_test p{font-size: 16px;font-weight: 600;color: #fff;max-width: 235px;margin: 0 auto;}
.btn.btn-common-white {border-radius: 8px;background-color: #fff;font-size: 14px;font-weight: 800;color: #56b663;padding: 8px;min-width: 160px;}
.btn.btn-common-transparent {padding: 10px 16px;border-radius: 8px;border: solid 1px #56b663;background-color: #f5faf6;color: #56b663;font-size: 14px;font-weight: 800;min-width: 250px;}
/********* Performance Rating ***************/
ul.proficiency-level-lists li {
    border-radius: 8px;
    border: solid 1px #cde3d0;
    background-color: rgba(255, 255, 255, 0.3);
    display: inline-flex;
    max-width: 215px;
    height: 60px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #363c4f;
    margin-top: 20px;
    width: 100%;
    margin-right: 20px;
}
ul.proficiency-level-lists li span b {width: 7px;background-color: #cccccca1;height: 13px;display: inline-block;border-radius: 10px;}
ul.proficiency-level-lists li span b.rate-level-active{background-color: #363c4f;}
ul.proficiency-level-lists li.selected-level{background-color:#e0f6e3;color:#56b663;}
ul.proficiency-level-lists li.selected-level span b.rate-level-active{background-color:#56b663;}
.subject-level-proficiency h5 {
    font-size: 16px;
    font-weight: 800;
}
ul.proficiency-level-lists li:last-child {
    margin-right: 0;
}
/********* Amit End ***********/


/********* Shubham Start ***********/

/********* Shubham End ***********/