/* 10-0202022 */
.allownumericwithdecimal {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 8px;
    background: #f2f2f2;
    color: #000;
}
.allownumericwithdecimal::placeholder {
    color: #757575;
    opacity: 0.8;
}
img.hsow {
    display: none;
}
img.hsowl {
    display: none;
}
li.a1TS {
    width: 42% !important;
}
li.a2TS {
    width: 15% !important;
}
li.a3TS {
    width: 15% !important;
}
.btn-topic:hover {
    box-shadow: 0 3px 10px 0 rgba(255,255,255,0.8) !important;
}
.custom-page .cust-tab-content .scroll-div {
    /* height: 310px !important; */
    overflow-y: auto !important;
	overflow-x: hidden;
    
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: #f2f2f2 !important;
}
ul.dropdown-menu.cust-dropdown.show li a {
    padding-bottom: 5px;
    padding-top: 5px;
}
ul.dropdown-menu.cust-dropdown.show li a img {
    margin-right: 5px;
}
ul.dropdown-menu.cust-dropdown.show {
    border-radius: 32px;
    border: none;
	box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%), inset 0 0 0 0 rgb(0 0 0 / 51%);
    padding: 22px 0px 22px 0px; 
} 
 .custom-page #myTabContent .dropdown ul.dropdown-menu.cust-dropdown.show{top: calc(100% - 35px)!important;}
button.btn.btn-light.ms-2.text-danger.rounded-0.show {
    background: #00baff !important;
	box-shadow:none;	
}
button.btn.btn-light.ms-auto.text-danger.rounded-0.show{
	background: #00baff !important;
	box-shadow:none;
}
button.btn.btn-light.ms-2.text-danger.rounded-0, button.btn.btn-light.ms-auto.text-danger.rounded-0  {
    box-shadow: none !important;
}

.question td {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #2c3348;
}

/* #review_rques_blk .border {
    pointer-events: none !important;
} */

#exam_content_sec #question_section .tab-btn-box a.rounded-0 {
    box-shadow: none;
}

/***12-03-22-Added_by_Sachin***/
.examSect .fade , .examSect, #endExam, #FullTest_Exam_Panel_Interface_A,#sharefrnd{ transition: initial;}
/***12-03-22-Ended_by_Sachin***/

/***Added_by-kanchan***/
#exam_content_sec #question_section .tab-btn-box a{color: #2c3348;font-weight: normal;font-family: 'Poppins', sans-serif;}
#exam_content_sec .btn-light{color: #2c3348 !important;}
#exam_content_sec .btn-light:hover{color: #fff !important;}
#exam_content_sec #question_section .tab-btn-box a :hover{color: #fff;}
#exam_content_sec #question_section .tab-btn-box .a :hover{color: #fff;}
#exam_content_sec .rightSect .number-block .btn:hover{color: #2c3348 !important;}
/***Added_by-kanchan***/
#exam_content_sec #myTabContent #scroll-mobile #myTab li.nav-item {
    margin-right: 5px;
}

div#exam_content_sec .cust-tabs .nav-link.active:before {
    right: -62px;
}

#exam_content_sec .tab-wrapper .nav-tabs {
    z-index: 9;
    position: relative;
}

#exam_content_sec .question-block .question p {
    font-size: 14px;
    line-height: 20px;
    margin: 0px;font-feature-settings: "liga" 0;
}

#exam_content_sec .cust-tab-content {
    background: #fff;
    height: calc(100% - 0px);
    padding: 0px 15px;
}

#exam_content_sec .tab-btn-box {
    bottom: 20px;
}

.examSect .checkboxans:checked+.ans {
    border: solid 1px #37c027 !important;
    background: transparent;
}


.examSect div#myTabContent .tab-pane a.btn.px-4.ms-2.btn-light.rounded-0:hover {
    background: #4cb9f9 !important;
    color: #fff !important;
    box-shadow: none;
}

.examSect .rightSect button.btn.btn-light-green.w-100.rounded-0.mt-3:hover {
    background: #00baff !important;
}

.examSect .rightSect .number-block .btn:hover,
.rightSect .number-block .btn:hover {
    border: solid 2px #12c3ff !important;
}

.examSect .cust-tab-content {
    padding: 0px !important;
}

.examSect div#myTabContent .tab-pane a.btn.px-4.ms-2.btn-light {
    border-radius: 20px !important;
    background-color: #f0f0f0 !important;
    color: #000;
    text-transform: none;
}

.examSect {
    padding: 35px 45px;
}

.examSect .question-block i.fa {
    box-shadow: 0px 0px 10px 2px #a1def6;
    border-radius: 50%;
    background: #fff;
    width: 25px;
    height: 25px;
    padding-left: 0px;
    padding-top: 4px;
    color: #221f20;
}

.examSect div#myTabContent {
    border-radius: 56px;
    /* box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%); */
}

.examSect #myTabContent ul#myTab {
    border-top-right-radius: 56px;
    border-top-left-radius: 56px;
    background: #f5f8fc;
    border-bottom: none;
}

.examSect #myTabContent {
    border-top-right-radius: 56px;
    border-top-left-radius: 56px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

/*
.examSect #myTab a {
    border-top-left-radius: 56px;
    font-family: 'Manrope-SemiBold';
    border-top-right-radius: 64px;
    margin-right: 0px;
}

.examSect ul#myTab li a {
    padding: 15px 35px;
}

.examSect #myTab a.nav-link.active:before {
    display: none !important;
}
*/
.examSect div#myTabContent .tab-pane {
    padding: 15px 60px;
}

.examSect div#myTabContent .tab-pane .question-block {
    padding: 15px 5rem;
    position: relative;
}

.examSect div#myTabContent .tab-pane .question-block .arrow {
    height: auto !important;
    background: transparent !important;
    border: none !important;
}

.examSect div#myTabContent .tab-pane .question-block p.question.pb-5.pt-5 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.examSect .ans-block .col-md-6.mb-4 {}

.examSect .border.ps-3.ans {
    border-radius: 16px;
    border: solid 1px #707070 !important;
    padding: 0px;
}
.examSect .ans-block .col-md-6.mb-4 .border {
    box-shadow: 0px 0px 1px 0px;
}

.examSect div#myTabContent .tab-pane a.btn.px-4.ms-2.btn-light.rounded-0 {
    border-radius: 20px !important;
    background-color: #e9e9e9 !important;
    color: #2c3348;
    text-transform: none;
    line-height: 33px;
    border: none;
}

.examSect div#myTabContent .tab-pane a.btn.px-4.ms-2.btn-light.rounded-0:hover {
    background: #00baff !important;
    color: #fff !important;
    box-shadow: inset 0 3px 30px 0 rgb(255 255 255 / 80%);
}

.examSect div#myTabContent .tab-pane a.btn.px-5.btn-light-green.rounded-0,
.examSect div#myTabContent .tab-pane a.btn.px-4.ms-auto.me-2.btn-light.rounded-0,
.examSect div#myTabContent .tab-pane a.btn.px-4.me-2.btn-secondary.rounded-0 {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 30px 0 rgb(255 255 255 / 80%);
    background: #e9e9e9;
    border: none;
    text-transform: none;
    color: #000;
    padding: 13px 20px;
    line-height: 20px;
}

.examSect .checkboxans:checked+.ans {
    border: solid 1px #37c027 !important;
    background: #e3f0fe;
}

 /****SACHIN****/
/********************SACHIN_14_02_22_Start*************/

.examSect .checkboxans:checked+.ans span.q-no {
    background: #37c027;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    /* padding-left: 7px; */
    /* font-size: 15px; */
    color: #fff;
    line-height: 23px;
    /* margin-top: -5px; */
    padding-left: 3px;
    font-size: 14px;
    text-align: center;

}
/********************SACHIN_14_02_22_end*************/
/* .examSect {
    padding: 28px 45px;
} */

.examSect .rightSect button.btn.btn-light-green.w-100.rounded-0.mt-3 {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 10px 0 rgb(255 255 255 / 80%);
    background-image: linear-gradient(240deg, #21ccff, #21ccff 1%);
    color: #fff;
    margin-bottom: 15px;
    padding: 13px 15px;
    border: none !important;
}

.examSect .rightSect .bg-white {
    padding: 26px !important;
    border-radius: 56px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 10px !important;
}

.examSect .rightSectH {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 600;
}

.examSect .rightSect .number-block .btn {
    min-width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 0;
    border-radius: 50% !important;
    width: 32px;
    margin-bottom: 12px !important;
}

.examSect .rightSect button.btn.btn-secondary {
    background-image: linear-gradient(to bottom, #21ccff, #21ccff);
    border: none;
}

.examSect .rightSect button.btn.btn-outline-warning {
    border: solid 2px #12c3ff;
}

.examSect .rightSect button.btn.btn-light-green {
    background: #37c027;
    color: #fff;
}

.examSect .rightSect button.btn.btn-secondary i {
    color: white !important;
}

.examSect .rightSect .legends {
    margin-bottom: 15px !important;
}

.examSect .rightSect .legends .btn {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    border-radius: 50% !important;
    float: left;
}

.examSect .rightSect .legends p {
    float: left;
    margin-left: 10px;
    font-size: 12px;
    width: 65%;
}

.examSect a.clearRes:hover {
    background: #eb4344 !important;
    opacity: 1;
    box-shadow: none !important;
    color: #fff !important;
}

.examSect .rightSect .number-block {
    height: 165px;
    overflow-y: auto;
    padding: 5px;
}

.examSect #test_instruction .modal-body.pt-3.p-5 {
    border-radius: 56px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 16%);
}

.examSect #test_instruction .modal-content.rounded-0 {
    border: none;
    background: transparent;
}

.examSect #test_instruction .test-info {
    margin: 35px 0;
    padding: 32px 0;
}

.examSect #test_instruction a.btn-close {
    position: absolute;
    right: 35px;
    top: 45px;
    z-index: 9;
}

.examSect button#goto-exam-btn {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 10px 0 rgb(255 255 255 / 80%);
    background-image: linear-gradient(241deg, #21ccff, #21ccff);
    border: none;
    padding: 15px 65px;
    color: #fff;
}

/* end Test screen */

.cust-tab-content .custom-btn-gray:hover {
    background: #00baff !important;
    color: #fff !important;
    box-shadow: none !important;
}

.cust-tab-content .scroll-topic-ana {
    height: 150px !important;
    overflow-y: auto;
}

.cust-tab-content {
    padding: 0px !important;
}

.cust-tab-content {
    background: #fff;
    height: auto;
    padding: 0px 15px !important;
    padding-bottom: 20px !important;
}

.cust-tab-content .custom-btn-gray {
    border: none;
    outline: none;
    /* width: 216px; */
    /* height: 60px; */
    color: #2c3348;
    font-size: 18px;
    border-radius: 20px !important;
    text-transform: uppercase;
    box-shadow: inset 0 3px 30px 0 rgb(255 255 255 / 80%);
    background-color: #e9e9e9;
    font-size: 16px;
}

.rightSect .slimScrollBar {
    width: 5px !important;
    opacity: 0.3 !important;
}

.rightSect .bg-white.d-flex.flex-column.justify-content-center.mb-4.p-5 {
    padding-bottom: 28px !important;
    margin-bottom: 0px !important;
}


.rightSect .number-block::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.rightSect .number-block::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.rightSect .number-block::-webkit-scrollbar-thumb {
    background: #d0f3ff;
}

/* Handle on hover */
.rightSect .number-block::-webkit-scrollbar-thumb:hover {
    background: #d0f3ff;
}

.rightSect button.btn.btn-light-green.w-100.rounded-0.mt-3 {
    border-radius: 20px !important;
    box-shadow: inset 0 3px 10px 0 rgb(255 255 255 / 80%);
    background-image: linear-gradient(240deg, #21ccff, #21ccff 1%);
    color: #fff;
    margin-bottom: 15px;
}

.rightSect .bg-white {
    padding: 26px !important;
    border-radius: 56px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    padding-bottom: 0px !important;
}

.test-review-right .bg-white.d-flex.flex-column.mb-4 {
    padding:0px !important;
   height: calc(100vh - 141px) !important;
}
.padding_26{
    padding: 26px !important;
    padding-bottom: 0px !important  ;
}

.rightSectH {
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 600;
}

.rightSect .number-block .btn {
    min-width: 32px;
    height: 32px;
    margin-right: 5px;
    padding: 0;
    border-radius: 50% !important;
    width: 32px;
    margin-bottom: 12px !important;
}

.rightSect button.btn.btn-secondary {
    background-image: linear-gradient(to bottom, #21ccff, #21ccff);
    border: none;
}

.rightSect button.btn.btn-outline-warning {
    border: solid 2px #12c3ff;
}

.rightSect button.btn.btn-light-green {
    background: #37c027;
    color: #fff;
}

.rightSect button.btn.btn-secondary i {
    color: white !important;
}

.rightSect .legends {
    margin-bottom: 15px !important;
}

.rightSect .legends .btn {
    width: 24px;
    height: 24px;
    margin-right: 0px;
    border-radius: 50% !important;
    float: left;
}

.rightSect .legends p {
    float: left;
    margin-left: 10px;
    font-size: 12px;
    width: 65%;
}

a.clearRes:hover {
    background: #f74645 !important;
    opacity: 1;
    box-shadow: none !important;
    color: #fff !important;
}

.rightSect .number-block {
    height: 165px;
    overflow-y: auto;
    padding: 5px;
}

.question-block .next-arow i {
    position: absolute;
    right: 15px;
    top: 15%;
}

.question-block .prev-arow i {
    position: absolute;
    left: 0px;
    top: 12%;
}

.question-block {
    /*height: 310px;
    overflow: auto;
    overflow-x: hidden;*/
    height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
}

.question-block::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.question-block::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.question-block::-webkit-scrollbar-thumb {
    background: #d0f3ff;
}

/* Handle on hover */
.question-block::-webkit-scrollbar-thumb:hover {
    background: #d0f3ff;
}



/**********************hide_by_sachin************/
.question-block label.question p {
    /* margin-bottom: 2px; */
}

/**********************hide_by_sachin************/
.question-block {
    padding: 5rem;
    position: relative;
}

.question {
    display: block !important;
}

/* Added by kanchan */

.star-ratings-css-bottom span{
    padding:0 2px;
    color: #e9e9e9;
}
.star-ratings-css-top span{
 padding:0 2px;
}

.question-block i.fa {
    border-radius: 50%;
    background: #fff;
    width: 36px;
    height: 36px;
    color: #221f20;
    text-align: center;
    /* line-height: 36px;  */
    box-shadow: 1px 1px 15px 0 rgb(0 186 255 / 40%);
}

/* Added by kanchan */

#review_rques_blk .question-block i.fa{
    padding: 10px;
}




/* Added by sachin-22-02*/

.other_screen {
    padding: 14px !important;
    border-radius: 18px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    max-height: 193px;
    width: 100%;
	min-width: 400px;
	max-width: 400px;
}
.detail_text-heading {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
}

 .review_expand .detail_h {
    color: #00baff;
    font-size: 12px;
    font-weight: bold;
    width: auto;
    display: block;
    text-transform: uppercase;
    text-align: left;
    cursor: pointer;
}
.review_expand .left_box p {
    padding: 0px;
}
.main-catgy {
    font-size: 14px;
    color: #2c3348;
    opacity: .99;
}
.detail_text-heading p {
    font-size: 13px;
}
.right_box ul {
    padding: 0px;
    margin: 0px;
}
.right_box ul li {
    list-style: none;
    display: inline-block;
    padding: 0px 6px;
    color: red;
}
  
  .right_box ul li a {
    color: #605f5f;
}
  
  .fa.fa-bookmark-o {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
}
.detail_text_content {
    font-size: 14px;
    color: #2c3348;
    opacity: .99;
    max-height: 90px;
    overflow-y: scroll;
}
  
  
.first_screen {
	padding: 14px !important;
    border-radius: 16px;
	box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
	background-color: #ffffff;
	width: 315px;
    z-index: 999;
	  
}
	.persent_std {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #86878b9e;
}
.no-of-persent {
    font-size: 36px;
    font-weight: 600;
    color: #37c027;
}
.attend {
        width: 178px;
    object-fit: contain;
    font-size: 16px;
    opacity: .99;
    color: #231f20;
    padding-left: 14px;
}
.propt_text {
	padding: 20px 0px;
	text-align: left;
	font-size: 14px;
	color: #2c3348;
	opacity: .99;
}
.attemp_box {
    display: flex;
}
.sub_att_1 p {
	font-size: 11px;
	margin-bottom: 0px;
	color: #2c3348;
	text-align: left;
	opacity: .99;
}

.attemp_box a {
    color: #00baff;
    font-size: 12px;
    font-weight: bold;
    width: auto;
    display: block;
    text-transform: uppercase;
    width: 100px;
    text-align: left;
    cursor: pointer;
    word-break: break-word;
}

.right_box span {padding-left: 5px;}
.review_expand {
    position: absolute;
    top: 5%;
    right: 6%;
}
.percent_btn {
	color: #ffffff;
	background-color: #00bdff;
	border-radius: 17px;
	padding: 10px 60px;
	border: navajowhite;
	font-size: 14px;
	display: initial;
	position: absolute;
    right: 0px;
    cursor: pointer;
 
	 
 
}

.review_expand .popup{
    padding: 14px !important;
    border-radius: 18px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    right: 312px;
    
}
  
.expand_block {
    display:none;position: absolute;
    right: 0px;
   
}

#review_rques_blk{
    position: relative;
}
.expand_button {
    position: absolute;
    top: 4%;
    right: 1%;
}

.expandbtn{
    display: none;
}

#review_rques_blk .answer-section{
    margin-top: 50px;
   
}
/*added by sachin-22-02*/

/******28-03****/
.number-block .btn-check:focus+.btn-light, .number-block .btn-light:focus {
    border-color: #12c3ff;
    box-shadow: none;
    border-width: 2px;
}
/******28-03****/ 
 
 @media (min-width: 1200px) and (max-width: 1300px){
.custom-page .cust-tab-content .scroll-div {
    height: 275px !important;
    overflow-y: auto !important;
    overflow-x: hidden;
}
}



/******04-04-22-Added by sachin-for-exam-result-list****/
.result-list-filter-row{
    display:flex;
    justify-content: space-between;align-items: center;
} 

 .showBioBtn{
    background-color: #337ab7;
    padding: 5px 10px; 
    color: #fff;
    font-size: 12px;
}

  #page_navigation {
    justify-content: center;
    margin: 20px 0;
}

 #page_navigation a {
    padding: 3px 6px;
    border: 1px solid #00bdff;
    margin: 2px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 18px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 17px 10px -10px rgb(206 206 206 / 40%);
}

 .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

 .active_page{
	background:#00bdff;
	color:white !important;  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4)
}

.result-list-filter-row .sub-filter form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.result-list-filter-row .sub-filter{
    padding: 0px 21px;
}

.result-list-filter-row .select{
    padding: 8px 12px;
    color:#333333;
    background-color:#eeeeee;
    border: 1px solid #e4e4e4;
    cursor:pointer;
    background: #f2f2f2;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    
}
.result-list-filter-row .select:focus,
.result-list-filter-row .select:hover{
    outline:none;
    border:1px solid #dddddd;
}
 
.result-list-filter-row .select option{
    background:#ffffff;
    padding: 20px;;
}

.result-list-filter-row .form-control:focus {
  box-shadow: none;
}

.result-list-filter-row.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  background-color:red;
}

.result-list-filter-row .form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}
 
 
.result-list-filter-row input.form-control {
    background: #ededed !important;   height: 42px !important;
}

.result-list-filter-row button#button-addon1 {
    position: relative;
    z-index: 2;
    top: 0px;
    height: 42px !important;
    border: none;
    margin: 0px !important;
}
 
.result-list-filter-row .sub-search {
    background: #f2f2f2;
    border: 1px solid #e4e4e4;
    border-radius: 5px;height: 42px;
}
.result-list-filter-row .sub-filter-type{
    margin-right:20px;

}
/******04-04-22-Ended by sachin-for-exam-result-list****/

.custom-page .cust-tab-content .scroll-div {
   max-height: calc(100vh - 323px) !important;}