@media(max-width:767px){
    .profile-section ul {
        display: flex;
        margin-bottom: 0px;
        justify-content: center;
        padding-left: 2rem; 
    
    }
    .profile-section {
        width: 100%;
    }
    .profile-section ul li {
        width: 100%;
    }
    .profile-section ul li svg {
        margin-right: 0px;
    }
    .subscription .form-btns {
    margin-top: 20px;
    }
    .subscrived {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subscription .p-text h3 {
        font-size: 14px;
        line-height: inherit;
        margin: 0;
    }  
    .subscrived svg {
        margin-right: 0;
    }
    #profileAcc{
        top: -3px;
    }
    .dashbaordmargin {
        margin-left: 0px;
    }
    .seeAnico .button-sec.mt-3{    padding: 0px 0px 0px 17px;
        margin-right: 0px;}
        .button-sec.mt-3 a {    width: auto;
            margin: 0 auto;
            padding: 10px 30px;
        }
}

@media(max-width:500px){
    .topics-box { width: calc(50% - 11px); margin: 15px 0px 0px 8px;}
    .dashboard-cards-block .progress-journey-card.bg-white>small p { min-width: 290px;} 
    .dash-sidebar .submenu-L1{left:58px;}
    .dash-nav-link a:first-child svg {width: 63px;}
    .dash-nav-link a:nth-child(2) svg {width: 90px;}
    .sublinks a{font-size:14px;padding: 0.5rem 0.5rem;}
    .text-start.sublinks a svg {width: 20px;height: 20px;}
    .dash-sidebar .submenu-L2{left:165px;}
    .sidbar-block {padding: 30px 18px 30px 10px;}
    
}

@media(max-width:420px){
    .dashboard-cards-block .bg-white>small p ,.dashboard-cards-block .progress-journey-card.bg-white>small p{ min-width: 227px; padding: 15px 25px 15px 10px; }  
}