@media(max-width:767px){
    .profile-section ul {
        display: flex;
        margin-bottom: 0px;
        justify-content: center;
        padding-left: 2rem; 
    
    }
    .profile-section {
        width: 100%;
    }
    .profile-section ul li {
        width: 100%;
    }
    .profile-section ul li svg {
        margin-right: 0px;
    }
    .subscription .form-btns {
    margin-top: 20px;
    }
    .subscrived {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subscription .p-text h3 {
        font-size: 14px;
        line-height: inherit;
        margin: 0;
    }  
    .subscrived svg {
        margin-right: 0;
    }
    #profileAcc{
        top: -3px;
    }
    .dashbaordmargin {
        margin-left: 0px;
    }
    .seeAnico .button-sec.mt-3{    padding: 0px 0px 0px 17px;
        margin-right: 0px;}
        .button-sec.mt-3 a {    width: auto;
            margin: 0 auto;
            padding: 10px 30px;
        }
        .dashboard .star-ratings-css-top span ,.pe-1 .star-ratings-css-bottom span{
            font-size: 16px;
        }
        .topics-box span b {
            font-size: 25px;
            line-height: 30px;
        }
        .topics-box{justify-content:left;}
        .topics-box:first-child{margin-left:0px;}
        .progressChartExpend{min-width:1600px;}
        .log-out-screen{
            max-width: 300px;
            position: absolute;
            margin-left: auto;
            left: 0;
            right: 0;
            text-align: center;

        }
        .log-out-screen .p-picture{width:50px;height: 50px;}
        /* button.save-btn{padding: 9px 18px;} */
        .logout_btn_new svg{position: absolute; left: 27px !important; top: 15px !important;}
        .log-out-screen button.save-btn {width: 189px;font-size: 12px;}
        #graphExpand .modal-body {overflow-x: auto;}
        #graphExpand .modal-body::-webkit-scrollbar{height:5px;}
        .content-wrapper .container-fluid.pt-0 {
            padding: 0px 10px 0px 5px;
        }
        div#marKs-trends .bg-white p {height: auto;}
        .fw-bold , .bg-white.shadow-lg .progress_text {font-size: 14px;}
        .dashboard-cards-block #time-Avg-quest .bg-white>small, .dashboard-cards-block #marKs-trends .bg-white>small {right: -10px;top: 0px;}
        #marKs-trends .bg-white, #time-Avg-quest .bg-white{padding: 0!important;}
        #overall button.btn, #home button.btn, .Ex-anal{width: auto!important;}

}

@media(max-width:500px){
    .bg-white.shadow-lg.py-5{padding-bottom:30px!important;} 
    .subjectIcon img {
        width: 48px!important;
    }
    .topics-box { width: calc(50% - 11px); margin: 15px 0px 0px 8px;}
    .topics-box:first-child{margin-left:8px;}
    .dashboard-cards-block .progress-journey-card.bg-white>small p { min-width: 290px;} 
    .dash-sidebar .submenu-L1{left:58px;}
    .dash-nav-link a:first-child svg {width: 63px;}
    .dash-nav-link a:nth-child(2) svg {width: 90px;}
    .sublinks a{font-size:14px;padding: 0.5rem 0.5rem;}
    .text-start.sublinks a svg {width: 20px;height: 20px;}
    .dash-sidebar .submenu-L2{left:165px;}
    .sidbar-block {padding: 30px 18px 30px 10px;}
    .bg-white.shadow-lg {
        height: auto!important;
    }
    .subject-placeholder-block img {
        width: 80px;}
}

@media(max-width:420px){
    .dashboard-cards-block .bg-white>small p ,.dashboard-cards-block .progress-journey-card.bg-white>small p{ min-width: 227px; padding: 15px 25px 15px 10px; }  
    .swiper-button-next, .swiper-rtl .swiper-button-prev{right: 0px;}
    .cust-gallery.dashGallery .swiper-button-prev, .cust-gallery.dashGallery .swiper-button-next{    width: 30px;
        height: 30px;}
        .cust-gallery.dashGallery .swiper-button-next:after, .cust-gallery.dashGallery .swiper-button-prev:after {
            font-size: 16px;
        }
        .log-out-screen{max-width: 267px;}
        
}