@media(max-width:1199px){
   .newtabview.bg-white.shadow-lg{margin-top: 36px!important;}
   .user-name-block{font-size: 16px;}
   header .col-md-6.ms-auto{width: 100%;}
   .bg-white.shadow-lg.py-5.ps-3.pe-1 .course-star li strong,.course-star li strong{font-size: 14px;}
   .button-sec.mt-3 a{font-size:12px;}
   .task-center-block .btn.btntheme{font-size:14px;}
   .subjectIcon img{width:60px!important}
   .cust-gallery .swiper-slide h3{font-size:20px;}
   .custom-btn-gray{font-size:14px;}
   .cust-tabs.nav.nav-tabs .nav-link{min-width:auto;font-size: 14px;padding-left:20px!important;padding-right:20px!important;}
   .subscription .form-btns button {width: 222px;}
   .subscrived svg{width:46px;}
   .cust-gallery .swiper-slide.bg-white{width: 405px!important;margin-right:30px!important;}
   .bg-white.shadow-lg .progress_text {font-size: 16px;}
   .overllanaly .star-ratings-css-top span,.overllanaly .star-ratings-css{font-size:18px;}
   .dashboard-name-txt,.score{font-size:14px;}
   #marKs-trends .col-lg-6,#time-Avg-quest .col-lg-6{width:100%;}
   div#marKs-trends, div#time-Avg-quest{    margin-bottom: 36px;margin-top: 0px;    padding-bottom: 20px}
   .sub-title h3{font-size: 14px;flex: 2;}
   .topic-details{padding:20px;}
   .subject-name li{    width: 30px;
    height: 30px;    font-size: 14px;line-height: 13px;}
    .fw-bold{font-size:16px;}
    div#contentHtml .report-block1{padding:2rem;}
    .exportAnaylisis .headeranaylsismain{padding-bottom: 16px;}
    .exportAnaylisis .export-block h2 { font-size: 40px; margin-top: 1rem!important;}
    .exportAnaylisis .export-block .greentxt { font-size: 130px;}
    .exportAnaylisis .justify-content-center {
        justify-content: center !important;
    }
    
}

@media(max-width:1023px){
	.dashboard-cards-block .bg-white>small p{    min-width: 275px;}
    .subscription .form-btns button {width: 222px;}
    .subscrived svg{width:40px;}
    .subscrived .p-text{padding-right: 0px;}
    .subscription .p-text h3 {font-size: 16px;}
    .subscription h4{font-size: 15px;}
    a.Ex-anal span.Ex--an{display:inline-block;}
}

@media(max-width:991px){
    .cust-tabs.nav.nav-tabs .nav-link{font-size: 13px;}	
    .subscription .form-btns button {width: 160px;font-size: 14px;}
    .overllanaly .tab-wrapper #scroll-mobile{    padding-bottom: 40px;}
    .reportHeading{font-size:28px;}
    .reportHeading span{font-size:22px;}
    .exportUserpic {
        width: 70px;
        height: 70px;}
}

@media(max-width:768px){

	.tickicon{
        width: 50%;
    }
}